body {
  margin-top: 15px;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  height: 100%
}

.album {
  margin: 10px;
  display: flex;
  width: 650px;
  padding: 15px
}

.info {
  margin-left: 15px;
  width: 100%
}

#playlist {
  margin: 10px;
  display: flex;
  width: 650px;
  padding: 15px;
  flex-direction: column
}

.tracks {
  margin-left: 0px;
  width: 100%
}

/* No style rules here yet */
.dot {
  fill-opacity: 0.5;
}
.bar {
  fill: #636363;
  fill-opacity: 0.2;
}
.tick line {
  stroke: #636363;
}
.tick text {
  fill: #636363;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 8px 12px;
  pointer-events: none;
  left: 50%;
}

#tooltip.hidden {
  display: none
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
  color: black;
  /* color: #636363; */
  /* opacity: 0.7; */
}
rect.selection {
  /* fill: #24cf5f; */
  /* fill: #a6a2a2 */
  fill: #b6a6cd;
}
.handle {
  /* fill: #a6a2a2; */
  /* fill: #24cf5f; */
  width: 3.5px;
  fill: #b6a6cd;
  opacity: 0.6;
}
.brush {
  border-width: 0;
}
